<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NeoTêmis - Dashboard</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imagens/neotemisico.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>

</head>

<body>

    <h1>
    Bem-vindo, {{ current_user.nome }} (Advogado)
    </h1>

    <a href="{{ url_for('home.escritorio') }}">
        Escritório
    </a>
    
</body>

</html>