<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Equipe</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imagens/neotemisico.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>

</head>

<body>

    <div class="login-box">

        <h1>Equipe</h1>

        {% if current_user.papel_escritorio == "gestor" %}

            <a href="{{ url_for('home.novo_membro') }}">
                Novo Membro
            </a>

        {% endif %}

        {% for membro in membros %}

            <div class="card-membro">

                <h3>{{ membro.nome }}</h3>

                <p>
                    Papel:
                    {{ membro.papel_escritorio }}
                </p>

                <p>
                    Email:
                    {{ membro.email }}
                </p>

            </div>

        {% endfor %}

        <a href="{{ url_for('home.dashboard') }}">
            Voltar
        </a>

    </div>
    
</body>
</html>