<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Novo Membro</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imagens/neotemisico.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>

</head>

<body>
    
    <div class="login-box">

        <form method="POST">

            <h2>Novo Membro</h2>

            {% if erro %}
            <span class="mensagem-erro mostrar-erro">
                {{ erro }}
            </span>
            {% endif %}

            <input
                type="email"
                name="email"
                placeholder="Email do usuário"
                required
            >

            <select name="papel" required>
                <option value="">Selecione o papel</option>
                <option value="advogado">Advogado</option>
                <option value="estagiario">Estagiário</option>
            </select>

            <button type="submit">
                Adicionar
            </button>

            <a href="{{ url_for('home.equipe') }}">
                Voltar
            </a>

        </form>

    </div>

</body>
</html>